*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color:#000;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type='number'],input[type="number"]:hover,input[type="number"]:focus {appearance: none;-moz-appearance: textfield;}

/*! ______ОБНУЛЕНИЕ______ */
$color-orange:#FB9C2E;
$color-dark:#222222;

$font-family:'montserrat';

$maxWidth: 1920;
$maxWidthContainer: 1190;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}
@else {
//ВСЕГДА
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}


@keyframes circle {
   0%{scale:0.9;}
   50%{scale: 1;}
   100%{scale: 0.9;}
}

body{
   font-family: $font-family;
   font-weight: 400;
}

.main{
   position: relative;
   z-index: 4;
   display: grid;
   grid-template-columns: 250px auto 250px;
   @media (max-width:1128px) {
      grid-template-columns: 100%;
   }
   &__in{
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      @media (max-width:1128px) {
         grid-column: 1 / 2;
      }
   }
}

.wrapper{
   padding: 0px 250px;
   min-width: 100%;
   width: 100%;
   max-width: 100%;
   @media (max-width:1128px) {
      padding: 0px 0px 0px 00px;
   }
}

.container{
   max-width: 1190px;
   padding: 0px 15px;
   margin: 0 auto;
}

.btn {
   padding: 20px 10px;
   border-radius: 99px;
   // border: 2px solid transparent;
   background:linear-gradient(#FEF200 -40%,#FB9C2E);
   box-shadow: 0 10px 20px rgba(251, 156, 46, 0.5) , 0 4px 10px rgba(0, 0, 0, 0.1);
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   width: 100%;
   position: relative;
   overflow: hidden;
   transition: .2s;
   outline: 2px solid transparent;
   @media (max-width:768px) {
      font-size: 16px;
   }
   span{
      position: relative;
      z-index: 2;
      transition: .2s;
   }
   &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffffec;
      z-index: 1;
      width: 100%;
      height: 100%;
      transform: translateY(120%);
      transition: .2s;
   }
   &:hover{
      outline: 2px solid $color-orange;
      span{
         color: $color-orange;
      }
      &::after{
         transform: translateY(0);
      }
   }
}


.back {
   grid-column: 1 / 4;
   grid-row: 1 / 2;
   position: sticky;
   @media (max-width:1128px) {
      grid-column: 1 / 2;
   }
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   overflow: hidden;
   background: url(../img/back/fon.png) center / cover no-repeat;
   &__inner{
      width: 100%;
      height: 100%;
      position: relative;
   }
   &__block {
      width: 511px;
      height: 511px;
      position: absolute;
      animation: circle 2s infinite linear;
      span{
         display: inline-block;
         width: 100%;
         height: 100%;
         padding: 30px;
         border-radius: 999px;
         border: 1px solid #C4C4C4;
      }
      &:nth-child(1){
         top: 0;
         transform: translate(0,calc(-50% - 70px));
         right: calc(50% - 55px);
      }
      &:nth-child(2){
         position: absolute;
         bottom: 0;
         left: 140px;
         transform: translate(0,calc(50% + 70px));
      }
      &:nth-child(3){
         position: absolute;
         right: 0;
         bottom: 0;
         transform: translate(calc(50% - 25px),calc(50% - 60px));
      }
   }
}

.sidebar {
   height: 100%;
   grid-row: 1 / 2;
   grid-column: 1 / 2;
   @media (max-width:1128px) {
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(calc(-100% + 50px),0);
      transition: .3s;
   }
   &__inner {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 999;
      overflow: scroll;
      display: flex;
      &::-webkit-scrollbar{
         display: none;
      }
   }
   &__main{
      padding: 50px 0px 30px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: $color-dark;
      @media (max-width:1128px) {
         width: auto;
         flex: 1;
         padding: 30px 10px 30px 10px;
      }
   }
   &__logo {
      width: 120px;
      margin: 0px 0px 50px 0px;
   }

   &__navigation {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 20px;
      button{
         background: transparent;
         padding: 0px 0px 0px 5px;
         cursor: pointer !important;
         &:hover{
            .sidebar__link{
               font-weight: 800;
            }
         }
      }
      input{
         display: none;
         &:checked{
            + label{
               .sidebar__dot{
                  img{
                     opacity: 1;
                  }
                  span{
                     opacity: 0;
                  }
               }
            }
         }
      }
      label{
         cursor: pointer;
         display: flex;
         justify-content: end;
      }
   }

   &__link {
      transition: .2s;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      margin: 0px 5px 0px 0px;
      color: #fff !important;
      display: flex;
      align-items: center;
      justify-content: end;
      text-align: right;
   }

   &__dot {
      width: 30px;
      height: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
         width: 10px;
         height: 10px;
         display: inline-block;
         border-radius: 99px;
         border: 1px solid #fff;
         transition: .3s;
      }
      img{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         transition: .3s;
      }
   }

   &__mobile{
      height: 100%;
      display: none;
      border-left:1px solid #fff;
      pointer-events: none;
      @media (max-width:1128px) {
         display: inline-block;
      }
   }
   &__burger{
      width: 50px;
      height: 40px;
      display: flex;
      padding: 7px 10px;
      justify-content: center;
      align-items: center;
      background-color: $color-dark;
      pointer-events: all;
      border-radius: 0 0 10px 0px;
      span{
         width: 100%;
         height: 2px;
         display: inline-block;
         background-color: #fff;
         border-radius: 2px;
         position: relative;
         &::before,&::after{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 2px;
         }
         &::before{
            top: -8px;
         }
         &::after{
            bottom: -8px;
         }
      }
   }
}

._burgerOpen{
   .sidebar{
      transform: translate(0,0);
      &__burger{
         span{
            background-color: transparent;
            &::before{
               top: 0;
               transform: rotate(45deg);
            }
            &::after{
               bottom: 0;
               transform: rotate(-45deg);
            }
         }
      }
   }
}

.PhotoRight {
   overflow: hidden;
   display: flex;
   align-items: center;
   max-width: 100%;
   position: relative;
   &__inner {
      padding: 50px 0px;
      position: relative;
      z-index: 2;
   }

   &__left {
      max-width:50%;
      padding: 0px 20px 0px 0px;
      &--escort{
         max-width:calc(50% + 50px);
      }
      @media (max-width:768px) {
         max-width: 100%;
         text-align: center;
         padding: 0px 0px;
      }
   }

   &__title {
      font-weight: 800;
      font-size: 36px;
      @include adaptiv-value('font-size',36,30,1)
   }

   &__subtitle {
      font-size: 18px;
      margin: 30px 0px;
      line-height: 130%;
      &--escort{
         margin: 90px 0px;
         @media (max-width:768px) {
            margin: 65px 0px;
         }
      }
   }

   &__btn {
      max-width: 300px;
      &--escort{
         max-width: 420px;
      }
   }

   &__right {
      width: 50%;
      min-width: 50%;
      max-width: 50%;
      transform: translate(-100%,0);
      img{
         width: 100%;
      }
      @media (max-width:768px) {
         position: absolute;
         top: 0;
         right: 0;
         height: 100%;
         width: 100%;
         min-width: none;
         max-width: none;
         transform: translate(0,0);
         background: linear-gradient(90deg,transparent -70%,#fff);
         text-align: right;
         img{
            // width: 70%;
            // opacity: 0.2;
            height: 100%;
            object-fit: cover;
            width: 80%;
            opacity: 0.2;
            object-position: left;
         }
      }
      &--escort{
         width: 55%;
         min-width: 55%;
         max-width: 55%;
         @media (max-width:768px) {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            min-width: none;
            max-width: none;
            transform: translate(0,0);
            background: linear-gradient(90deg,#ffffff,transparent 170%);
            text-align: left;
            img{
               height: 100%;
               object-fit: cover;
               width: 80%;
               opacity: 0.2;
               object-position: right;
            }
         }
      }
   }
}

.footer {
   border-top: 10px solid #fff;
   position: relative;
   z-index: 3;
   color: #ffffff;
   &__main {
      background-color: $color-dark;
   }

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0px 30px 0;
      @media (max-width:800px) {
         flex-direction: column;
         padding: 20px 0px;
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      width: 320px;
      @media (max-width:768px) {
         align-items: center;
      }
   }

   &__logo {
      width: 120px;
      margin: 0px 0px 15px 0px;
      img{
         width: 100%;
      }
   }

   &__legal {
      font-size: 12px;
      margin: 0px 0px 14px 0px;
      color: #fff !important;
      &:hover{
         color: $color-orange !important;
      }
   }

   &__policy {
      font-size: 12px;
      margin: 0px 0px 40px 0px;
      color: #fff !important;
      &:hover{
         color: $color-orange !important;
      }
   }

   &__social {
      display: flex;
      justify-content: space-between;
      width: 120px;
      color: #fff;
   }

   &__icon {
      height: 17px;
      width: 20px;
      fill:#fff;
      transition: .2s;
      &:hover{
         fill: #c28dd8 !important;
      }
      &:last-child{
         width: 24px;
      }
   }

   &__svg {
      height: 100%;
      width: 100%;
   }

   &__nav {
      display: flex;
      gap: 30px;
      @media (max-width:800px) {
         display: none;
      }
   }

   &__block {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: start;
      gap: 20px;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      padding: 12px 40px 12px 0px;
      position: relative;
      &::after{
         position: absolute;
         top: 0;
         right: 0;
         width: 3px;
         height: 140px;
         background-color: #fff;
         content: '';
      }
   }
   &__link{
      color: #fff !important;
      position: relative;
      text-align: end;
      &:hover{
         &::after{
            opacity: 1;
         }
      }
      &::after{
         opacity: 0;
         transition: .3s;
         position: absolute;
         content: '';
         top: 50%;
         left: calc(100% + 10px);
         transform: translateY(-50%);
         border-bottom: 5px solid transparent;
         border-top: 5px solid transparent;
         border-right: 10px solid #fff;
      }
   }

   &__mobile {
      display: none;
      @media (max-width:800px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__monileBtn {
      margin: 40px 0px 20px 0px;
      padding: 10px 0px;
      max-width: 200px;
      box-shadow: none;
      &:hover{
         &::after{
            transform: translateY(120%);
         }
      }
      span{
         color: #fff !important;
         font-size: 14px;
         text-transform: uppercase;
         text-align: center;
      }
   }

   &__mobileArrow {
      display: inline-block;
      position: relative;
      right: -7px;
      transition: .3s;
      &::before,&::after{
         display: inline-block;
         content: '';
         background-color: #fff;
         height: 12px;
         width: 2px;
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 9px;
      }
      &::after{
         transform:translate3d(7px,-11px,0) rotate(45deg);
      }
      &::before{
         transform: translate3d(0px,-11px,0) rotate(-45deg);
      }
   }

   &__mobileNav {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   &__mobileLink {
      text-align: center;
      color: #fff !important;
      text-transform: uppercase;
   }

   &__bottom {
      background-color: $color-orange;
   }

   &__copyright {
      padding: 14px 0px;
      font-size: 12px;
      width: 320px;
   }
}